

.ad-leaderboard
  - if adserv
    :javascript
      google_ad_client = "ca-pub-5283251584689528";
      /* Leaderboard */
      google_ad_slot = "2188944074";
      google_ad_width = 728;
      google_ad_height = 90;
    %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}
  
