

.links-vertical-large
  - if adserv
    :javascript
      google_ad_client = "ca-pub-5283251584689528";
      /* links vertical large */
      google_ad_slot = "0326659912";
      google_ad_width = 200;
      google_ad_height = 90;
    %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}