



%header{:id => 'masthead'}
  blah blah

  %h1 Test Less Layout

  %nav{ :id => 'nav' }
    %ul
      %li nav 1
      %li nav 2

  %article
    %header
      %h2 title-2

    %p blah lbah

.cols5
  testing testing

.cols5
  some more testing

.col.col1
  test

.col.col2
  test