
/ 20120713

- recommended ||= reports

- if defined? recommended
  .reports
    .recommended
      %h3= t 'reports.recommended'
      .items
        - recommended.each do |r|
          .item
            = link_to image_or_missing(r, :thumb), r
            = link_to r.name, report_path(r)
        .clear
      .clear